html{
    background-color: #1B2838;
}

.container{
    max-width: 1180px !important;
}

.cards{
    background-image: url("imagens/background_maincap_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.info-game{
    background-color: #BBB9BD;
}

.spotlight{
    background-image: url("imagens/background_spotlight.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
}

.mini-banner{
    background: linear-gradient( to bottom, #ffffff 5%, #abdaf4 95%);
}

.carousel {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    height: 425px; /* Aumentando a altura dos itens */
    position: relative;
}

.carousel-content {
    display: flex;
    transition: transform 1s ease;
}

.carousel-item {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.left-vic3{
    left: 23rem;
}

.left-star{
    left: 42.5rem;
}

.left-oxigen{
    left: 22rem;
}
