html {
    background-color: #1B2838;
}

.container {
    max-width: 1200px !important;
}

.nav-search {
    transition: background-color .5s ease-in-out;
}

.bg-hover {
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
}

.bg-arrow{
    background-color: #515D6B;
}

.txt-shadow{
    text-shadow: 2px 2px 8px black;
}

.banner {
    transition: opacity 0.5s ease-in-out;
    /* Transição suave de opacidade */
}

.mini-img {
    filter: brightness(50%);
    transition: filter 0.5s ease-in-out;
    /* Transição suave */
}

.mini-img:hover {
    filter: brightness(100%);
}

.cards {
    background-image: url("imagens/background_maincap_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.info-game {
    background-color: #BBB9BD;
}

.spotlight {
    background-image: url("imagens/background_spotlight.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
}

.mini-banner {
    background: linear-gradient(to bottom, #ffffff 5%, #abdaf4 95%);
}

.carousel {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    height: 425px;
    position: relative;
}

.carousel-content {
    display: flex;
    transition: transform 1s ease;
}

.carousel-item {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.left-vic3 {
    left: 23rem;
}

.left-star {
    left: 42.5rem;
}

.left-oxigen {
    left: 22rem;
}

.left-diablo {
    left: 42rem;
}

.left-engine{
    left: 19rem;
}

.left-beyond{
    left: 33.5rem;
}

.left-cherno{
    left: 48.5rem;
}

.left-mxg{
    left: 27.5rem;
}

.left-tower{
    left: 42.5rem;
}

.category-cards {
    background-size: 105%;
    background-position: center;
    transition: all .2s ease-in-out;
}

.navbar{
    background-color: #142436;
}

.searchbar{
    background-color: #324965;
}

.bg-item{
    background-color: #333333;
}

.bg-footer {
    background-color: #101822;
}

.bg-select{
    background-color: #3D4450;
}

.bg-select-item{
    background-color: #3D4450;
}

.bg-select-item:hover{
    background-color: #DCDEDF;
    color: black;
}

.bg-games{
    background-color: #2A475E;
}

.bg-game{
    background-color: #213749;
}

.bg-games-active{
    background-color: #9EC1D8;
}